*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    
}

/* ---------header start------- */
header {
  width: 100%;    
  z-index: 100;
  background-color: #030303;
}
#upper {
  background-color: #030303;
  height: 100px;
  width: 100%;
  padding: 20px 50px;
  margin-top: -15px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 100;
}
.box1,
.box2,
.box3 {
  margin-left: -180px;
  width: 300px;
  height: 100%;
  gap: 15px;
  background-color: #030303;
}
.box1 > img {
  width: 100%;
  
}
#ip {
  width: 450px;
  height: 50px;
  background-color: white;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 20px;
  padding-left: 0px;
  margin-left: -200px;
  margin-top: 7.5px;
}
.form > input:nth-child(2) {
  height: 55px;
  width: 90px;
  background-color: rgb(255, 255, 255);
  color: rgb(6, 6, 6);
  font-size: 18px;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -5px;
}
.box2,
.box3 {
  margin-top: 11px;
  margin-right: -20px;
  width: 150px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030303;
}
.box2 img {
  width: 40px;
  height: 40px;
}
.box2 p {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.box3 img {
  width: 40px;
  height: 40px;
}
.box3 {
  margin-right: -150px;
  justify-content: space-around;
  color: white;
  text-decoration: none;
}

/* Lower */
header{
  position: fixed;
  top: 70px;
  width: 100%;
  box-shadow: rgba(244, 239, 239, 0.24) 0px 3px 8px;
  height: auto;
  background-color: rgb(29, 28, 28);
  
}
#nav{
  width: 100%;
  height: 40px;    
  display: flex;  
  
}

#nav>form>input{
  height: 100%;
}

#navbar>ul{
  overflow: auto;
    
}
#navbar>ul>li{
  float: left;
  list-style: none; 
  margin: 20px 10px;
  display: block;
  font-size: 14PX;
  
  
}
#navbar>ul>li>a{
  padding: 0px 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#navbar>ul>li>a:hover{
  font-weight: bold;
}
.dd1{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  list-style: none;    
  position: absolute;
  top: 55px;
  display: none;
  margin-left: 30px;
  line-height: 30px;
  color: rgb(11, 11, 11);
  background-color: white;
}
.dd1>li{
  
  margin-left: 0px;
  margin-right: 60px;
  font-size: 12PX;
}
#navbar>ul>li:hover .dd1{
  display: block;
}

#slideshow{
    margin-top: 125px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    border-radius: 10px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.nav_manual{
    position: absolute;
    width: 800px;
    margin-left: 200px;
    margin-top: -200px;
    gap: 10px;
    display: flex;
    justify-content: center;

}
.manual_btn{
    border: 2px solid rgb(7, 7, 7);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual_btn:hover{
    background: rgb(96, 78, 78);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}

.nav_auto{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-left: 499px;
    gap: 10px;
}
.nav_auto div{
    border:  2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

}
#radio1:checked ~ .nav_auto .autobut1{
    background: rgb(96, 78, 78);

}
#radio2:checked ~ .nav_auto .autobut2{
    background: rgb(96, 78, 78);
    
}
#radio3:checked ~ .nav_auto .autobut3{
    background: rgb(96, 78, 78);
    
}
#radio4:checked ~ .nav_auto .autobut4{
    background: rgb(96, 78, 78);
    
}
#radio5:checked ~ .nav_auto .autobut5{
    background: rgb(96, 78, 78);
    
}
#radio6:checked ~ .nav_auto .autobut6{
    background: rgb(96, 78, 78);
    
}
#radio7:checked ~ .nav_auto .autobut7{
    background: rgb(96, 78, 78);
    
}
#radio8:checked ~ .nav_auto .autobut8{
    background: rgb(96, 78, 78);
    
}
#radio9:checked ~ .nav_auto .autobut9{
    background: rgb(96, 78, 78);
    
}
  .bestseller{
    background-color: rgb(88, 88, 145);
    margin-top: -160px;
  }
  #bestseller_card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    margin: auto;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
  }
  #bestseller_card img{
    width: 180px;
    height: 250px;
    border-radius: 15px;
    margin: auto;
    
  }
  #bestseller_card h3{
    font-size: x-large;
    cursor: pointer;
  }
  .fas fa-shopping-cart{
    color: black;
  }
  #bestseller_card h3:nth-child(1):hover{
    color: red;
  }
  #bestseller_card h3:nth-child(2){
    font-size: xx-large;
  }
  #bestseller_card > div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    gap: 15px;
  }
  #bestseller_card > div >div{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  hr {
    width:5%;
    margin-top: -5px;
    
}
.bestseller_top{
 display: flex;
 justify-content: center;
 color: white;
 margin-bottom: 50px;

}
.bestseller_top hr{
    width: 40px;
    height: 3px;
    margin-top: 8px;
    background-color: rgb(243, 37, 71);  
}
.bestseller_top div{
    margin-left: 10px;
    margin-right: 10px;
}

.hotdeals{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
   
   }
   .hotdeals hr{
       width: 40px;
       height: 3px;
       margin-top: 8px;
       background-color: rgb(243, 37, 71);  
   }
   .hotdeals div{
       margin-left: 10px;
       margin-right: 10px;
   }
   .remaining{
    padding-top: 10px;
    background-color: #efefef;
   }
   .slide-container{
    
    display: flex;
    justify-content: space-around;
    
    overflow: hidden;

    
   }
   .slide-container img{
    width: 400px;
    height: 244px;
   }
   .left {
    display: flex;
    justify-content: space-around;
    gap: 15px;
   }
  #footer{
    margin-top: 200px;
  }

   .carousel {
    background: #EEE;
    
  }
  
  .carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  .carousel img{
    width: 100%;
  }
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  #footer {
    width: 100%;
    height: auto;
    background-color: black;
    padding-bottom: 5px;
  }
  #footer > img {
    width: 20%;
    display: block;
    margin: auto;
  }
  #media {
    width: 13%;
    margin: auto;
    margin-bottom: 30px;  
  }
  #media > i {  
    margin: 5px;
    color: white;
  }
  #bigger {
    width: 90%;
    border-bottom: 2px solid grey;
    margin: auto;
    line-height: 40px;
    padding: 0 30px;
  }
  #bigger > div {
    margin-bottom: 20px;
  }
  .ip2 {
    width: 250px;
    background-color: black;
  }
  #form2 > input {
    height: 40px;
    padding: -10px;
    font-size: 15px;
    border: none;
    color: rgb(190, 190, 190);
    border-bottom: 2px solid white;
  }
  #form2 > input:nth-child(2) {
    width: 70px;
    color: white;
    background-color: #f82caa;
    border: none;
    border-radius: 5px;
  }
  .stores {
    display: flex;
  }
  .stores > img {
    height: auto;
    width: 60px;
    margin: 0 8px;
  }
  
  .stage1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stage1 > div > p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .stores > div > p {
    color: rgb(190, 190, 190);
  }
  .stage2 > div {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
  .stage2 > p,
  .stage3 > p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .info > div {
    color: rgb(190, 190, 190);
  }
  .stage3 {
    width: 100%;
  }
  .cont {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
  
    color: rgb(190, 190, 190);
  }
  .cont > div > p:nth-child(1),
  .stage3 > p {
    color: white;
    font-weight: bold;
  }
  .copy {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

   

